<h1> Browse by Merchants:
  <% @users.each do |user| %>
    <h2><%= user.username %></h2>
    <ul>
      <% user.products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  <% end %>
</h1>