<h1>Welcome, <%= @user.username %></h1>
<h3>Your Products</h3>
<ul>
    <% @user.products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
</ul>

