<h3 class="text-center">Thank you for your order!</h3>
<h4 class='text-center'>Receipt for Order #<%= @order.id %></h4>
Order Total: <%= number_to_currency(@order.total_cost) %>
<%= render partial: "items"  %>
