<h1>Your cart</h1>


<ul>
<% @order_items.each do |orderitem| %>
  <li>
    <%= orderitem.name %>
    <p>$<%= orderitem.price %>0</p>
    <p>Quantity: <%= orderitem.quantity %></p>
  </li>
<% end %>
</ul>