/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";
.alert {
 position:relative;
 padding:0.75rem 1.25rem;
 margin-bottom:1rem;
 border:1px solid transparent;
 border-radius:0.25rem
}

.alert__container {
  margin: 2rem 0 1rem 0;
}

.alert-success {
 color:#155724;
 background-color:#d4edda;
 border-color:#c3e6cb
}

.alert-error {
    color: #856404;
    background-color: #fff3cd;
    border-color:#ffeeba
}

nav {
  padding-top: 40px;
}

nav li {
  display: inline;
  text-align: center;
  padding : 20px;
  color: gray;
  font-size: large;
}

nav li .link {
  float: right;
  padding-right: 50px;
  color: teal;
}

.header {
  padding-top: 50px;
  //padding: 50px;
  //background-color: black;
  background-image: image-url('/assets/header-pic2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 strong {
  padding-left: 40px;
  padding-top: 60px;
  font-size: 60px;
  font-family: "Poppins", Arial, sans-serif;
}

.header h1 {
  padding-top: 60px;
  font-family: cursive;
  color: white;
}

.product, .cart, .homepage {
  text-align: center;
}

.homepage h1 {
  color: teal;
  padding: 40px;
}

.homepage h5 {
  color: #4e555b;
  padding-right: 40px;
  padding-left: 40px;
}

#main_content {
  margin: 15px;
}


