<main class="homepage">
  <h1>Our Mission</h1>
  <h5>
    At SoulStore, we aren't actually selling these fine people's souls - instead, we are selling what it feels like to be them for one day. Ever wonder how it'd feel to be as smart as Marie Curie? Or as pathetic as Donald Trump? Well now you don't have to wonder! Purchase one of our souls today and you'll know exactly what it's like to live like that person. Maybe you've got a big computer science test coming up and you're totally unprepared - with our Grace Hopper soul, you can study like the wind and maybe even absorb some of the material! Or say you've always wanted to be good at dancing but you were born with two left feet - we've got a solution just for you! With our SZA soul, you may just be able to find your rhythm. Hooray!
  </h5>
</main>