
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">List of products</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
  <% @products.each do |product|  %>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="<%= product_path(product.id) %>" class="d-block mb-4 h-100">
          <%if product.photo.nil?%>
            <img src="https://liquidmindsite.com/wp-content/uploads/2019/06/1_soul.jpg" alt="product photo", width = 200px>
            <%else%>
            <img src="<%= product.photo%>" alt="product photo", width = 200px>
          <%end%>
          <div class="desc"><%=product.name%></div>
          <div class="desc"><%=number_to_currency(product.price)%></div>
        </a>
      </div>
  <% end %>
  </div>


</div>